@media (max-width:375px) {
    body{
        background-color: hsl(217, 54%, 11%);
        font-size: 14px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 100vh;
    }
    .card{
        background-color: hsl(216, 50%, 16%);
        width: 200px;
        padding: 15px;
        border-radius: 10px;
    }

    /*----------Equilibrium Section----------*/

    .image-container{
        position: relative;
        width: 200px;
        height: 200px;
        display: inline-block;
    }
    .equ-image{
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }
    .overlay{
        position: absolute;
        transition: all 0.1s ease;
        bottom: 0;
        top:0;
        right: 0px;
        left: 0px;
        background-color:rgba(86, 199, 241, 0.8) ;
        border-radius:10px;
        opacity: 0;  
    }
    .overlay img{
        margin-top: 30%;
        margin-left: 30%;
    }
    .image-container:hover .overlay{
        width: 200px;
        height: 200px;
        cursor: pointer;
        opacity: 0.6;
    }
    .text-equilibrium{
        color:white;
        font-weight: 600;
        margin: 1%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    p{
        color:hsl(215, 32%, 27%);
        margin: 1%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /*----------Time and Price Section----------*/
    
    .price-time-section{
        display: flex;
        justify-content: space-between;
    }
    /*-----Price Section------*/
    .price-time-section .price-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 32%;
        font-size: 14px;
    }
    .price-time-section .price-section .price{
       color:rgba(86, 199, 241);
       font-weight: 400;
    }
    /*-----Time Section------*/
    .price-time-section .time-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 38%;
    }
    .price-time-section .time-section .time{
        color:hsl(215, 32%, 27%);
        font-weight: 400;
    }

    /*----------Creator Section----------*/

    .creator-section{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .creator-section > div{
       width: 75%;
    }
    .creator-section .avatar-image{
        border:solid thin white;
        border-radius: 50%;
    }
    .creator-section .creator{
        color:hsl(215, 32%, 27%);
    }
    .creator-section .name{
        color:white;
        padding-left: 1%;
    }
    hr{
        margin-top: 5%;
        margin-bottom: 5%;
        border: solid thin hsl(215, 32%, 27%);
    }
    .text-equilibrium:hover , .name:hover{
        cursor: pointer;
        color:rgba(86, 199, 241);
    }
}